# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment variables
.env
.env.local
.env.staging
.env.production

# Firebase
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log
firebase-seed/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
__tests__/__snapshots__/

# Build
*.tsbuildinfo

# EAS
.eas/

# Misc
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
